@charset "gb2312";
* {padding:0;margin:0;}
body {background:#fff;font-family:Arial,"ו", Helvetica, sans-serif; font-size:12px}
a {text-decoration:none;color:#000}
a:hover {color:#f60}
ul,li,dl,dd,dt,ol { list-style:none}
.link { color:#458FCE; font-size:12px;}
.link:hover { color:#458FCE; text-decoration:underline}


.login_box { width:500px; margin:100px auto; padding:1px; text-align:left; background:orange}
.login { background:#fff; padding:10px}
.login_ul li { padding:5px; height:20px}
.login_ul li span { float:left; width:80px}
.login_logo { padding:10px; color:#fff}
.login_logo a {font-size:30px; padding:10px; color:#fff; font-weight:bolder; color:#fff; padding:0 10px 0 0}

.wrapper { margin:0 auto; width:960px; background:#fff;}
.header { height:60px; color:#fff; position:relative; background:#345590; padding:10px}
.logo {font-size:40px; line-height:60px; padding:10px; color:#fff; font-weight:bolder; color:#fff; padding:0 10px 0 0}
.nav { position:absolute; bottom:5px; right:0}
.nav li { float:left; line-height:30px;}
.nav li a { float:left; padding:0 10px; margin:0 5px 0 0; line-height:20px; background:#fff}
.user_body { border:1px solid #ccc; padding:20px}
td { padding:5px 10px}
.u_title { line-height:30px; font-size:14px; color:#000; padding:0 0 0 10px; border-bottom:1px solid #ddd; background:#f6f6f6}
.down { display:block; height:25px; width:60px; color:#fff; line-height:25px;background:#09c}
.down:hover { color:#fff; font-weight:bolder;}
th{ text-align:right}
.center th { text-align:center; padding:10px}
.u_footer { text-align:center; margin:20px 0 0 0; padding:20px; border-top:1px solid #ccc}
#leftNav { background:#666}
.welcome { border:3px solid #ccc; margin:20px}
.left_nav { padding:20px; line-height:30px;}
.left_nav dt { color:#fff; font-weight:bolder; border-bottom:1px solid #777}
.left_nav dd { color:#fff; border-bottom:1px solid #777}
.left_nav dd a { color:#fff; padding:0 0 0 5px}
.formtitle { height:30px; line-height:30px; font-size:14px; color:#000; font-weight:bolder; border-bottom:1px solid #5788D7; background:#A3C8F4; padding:0 0 0 10px; margin:0 0 20px 0}
.tbs th,.tbs td { border-right:1px solid #ddd;border-bottom:1px solid #ddd; padding:5px}
.tbs th { background:#eee}
.tbs { border-top:1px solid #ddd;border-left:1px solid #ddd}