<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyh.springboot.mapper.LabUserMapper">
  <resultMap id="BaseResultMap" type="com.lyh.springboot.pojo.LabUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="u_id" jdbcType="INTEGER" property="uId" />
    <result column="l_id" jdbcType="INTEGER" property="lId" />
    <result column="u_type" jdbcType="VARCHAR" property="uType" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, u_id, l_id, u_type
  </sql>
  <select id="selectByExample" parameterType="com.lyh.springboot.pojo.LabUserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from user_lab
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>

  <select id="selectMineByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_lab
    where u_id = #{id,jdbcType=INTEGER} and u_type='已授权'
  </select> 
  <select id="selectApplicationByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_lab
    where u_id = #{id,jdbcType=INTEGER} and u_type='申请中'
  </select> 
  <select id="selectAllByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_lab
    where u_id = #{id,jdbcType=INTEGER}
  </select> 
  <select id="selectWaitByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_lab
    where u_id = #{id,jdbcType=INTEGER} and u_type='已通过'
  </select>
  <select id="selectWaitNoByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_lab
    where u_id = #{id,jdbcType=INTEGER} and u_type='未通过'
  </select> 
  <select id="selectAllWaitByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_lab where u_type='申请中'
  </select> 
  <delete id="deleteEnterByPrimaryKey" parameterType="com.lyh.springboot.pojo.LabUser">
    delete from user_lab
    where u_id = #{uId,jdbcType=INTEGER} and l_id = #{lId,jdbcType=INTEGER}
  </delete>
  
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_lab
    where id = #{id,jdbcType=INTEGER}
  </select>  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_lab
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lyh.springboot.pojo.LabUserExample">
    delete from user_lab
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lyh.springboot.pojo.LabUser">
    insert into user_lab (id, u_id, l_id, 
      u_type)
    values (#{id,jdbcType=INTEGER}, #{uId,jdbcType=INTEGER}, #{lId,jdbcType=INTEGER}, 
      #{uType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lyh.springboot.pojo.LabUser">
    insert into user_lab
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uId != null">
        u_id,
      </if>
      <if test="lId != null">
        l_id,
      </if>
      <if test="uType != null">
        u_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uId != null">
        #{uId,jdbcType=INTEGER},
      </if>
      <if test="lId != null">
        #{lId,jdbcType=INTEGER},
      </if>
      <if test="uType != null">
        #{uType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lyh.springboot.pojo.LabUserExample" resultType="java.lang.Long">
    select count(*) from user_lab
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user_lab
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.uId != null">
        u_id = #{record.uId,jdbcType=INTEGER},
      </if>
      <if test="record.lId != null">
        l_id = #{record.lId,jdbcType=INTEGER},
      </if>
      <if test="record.uType != null">
        u_type = #{record.uType,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user_lab
    set id = #{record.id,jdbcType=INTEGER},
      u_id = #{record.uId,jdbcType=INTEGER},
      l_id = #{record.lId,jdbcType=INTEGER},
      u_type = #{record.uType,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lyh.springboot.pojo.LabUser">
    update LabUser
    <set>
      <if test="uId != null">
        u_id = #{uId,jdbcType=INTEGER},
      </if>
      <if test="lId != null">
        l_id = #{lId,jdbcType=INTEGER},
      </if>
      <if test="uType != null">
        u_type = #{uType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lyh.springboot.pojo.LabUser">
    update user_lab
    set u_id = #{uId,jdbcType=INTEGER},
      l_id = #{lId,jdbcType=INTEGER},
      u_type = #{uType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateEnterByPrimaryKey" parameterType="com.lyh.springboot.pojo.LabUser">
    update user_lab
    set u_type = '已授权'
    where u_id = #{uId,jdbcType=INTEGER} and l_id = #{lId,jdbcType=INTEGER}
  </update>
  <update id="updateAdminEnterByPrimaryKey" parameterType="com.lyh.springboot.pojo.LabUser">
    update user_lab
    set u_type = '已通过'
    where u_id = #{uId,jdbcType=INTEGER} and l_id = #{lId,jdbcType=INTEGER}
  </update>
  <update id="updateAdminNoEnterByPrimaryKey" parameterType="com.lyh.springboot.pojo.LabUser">
    update user_lab
    set u_type = '未通过'
    where u_id = #{uId,jdbcType=INTEGER} and l_id = #{lId,jdbcType=INTEGER}
  </update>
  
</mapper>