*{
	margin: 0px;
	padding: 0px;
}
#myTable tr th,#myTable tr td{
	text-align: center;
}
#myTable tr td{
	line-height: 30px;
}
.textCss{
	height:30px;
}
#divBody{
	width:100%;
	height:100%;
	background: black;
	opacity:0.5;
	position: fixed;
	top:0px;
	display: none;
	z-index: 3;
}
#myFrom{
	width:27%;
	position: fixed;
	top:100px;
	left:530px;
	z-index: 4;
 	background: #f7f7f7;
 	border-radius: 3px;
 	padding-bottom: 30px;
 	border:1px solid #ababab;
	display: none;
}
.input-xlarge{
	width:200px;
	height:28px;
}
.control-group{
	margin-left: 50px;
	margin-top: 13px;
}
#groupInput{
	width:130px;
	height:50px;
	margin:  0 auto;
	
}
