#a0{
	width:1280px;
	margin:0 auto;
}
.input-group{
	position: relative;
    left: 90px;
    top: -35px;
}
#a2{
	 width:400px;
	 height:280px;
	 position: relative;
	 left: 280px;
	 top: -100px;
	 background:#ffffff;
}