<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.itheima.dao.DictMapper">

	<select id="findDictByCode" parameterType="string" resultType="cn.itheima.pojo.BaseDict">
		select * from base_dict a where a.dict_enable=1 and a.dict_type_code=#{code} order by a.dict_sort
	</select>
	
</mapper>