<?xml version="1.0" encoding="UTF-8"?>
<beans	xmlns="http://www.springframework.org/schema/beans"
		xmlns:mvc="http://www.springframework.org/schema/mvc"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
							http://www.springframework.org/schema/beans/spring-beans.xsd
     					    http://www.springframework.org/schema/mvc
    						http://www.springframework.org/schema/mvc/spring-mvc.xsd
    						http://www.springframework.org/schema/context
    						http://www.springframework.org/schema/context/spring-context.xsd
    						http://www.springframework.org/schema/tx
                            http://www.springframework.org/schema/tx/spring-tx.xsd
                            http://www.springframework.org/schema/aop
                            http://www.springframework.org/schema/aop/spring-aop.xsd">
       <context:component-scan base-package="com.imnu.controller"/>	
       <mvc:annotation-driven/>
       <mvc:resources location="/js/" mapping="/js/**"/>
       <mvc:resources location="/css/" mapping="/css/**"/>
       <mvc:resources location="/fonts/" mapping="/fonts/**"/>
       <mvc:resources location="/images/" mapping="/images/**"/>
       <bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
         <property name="prefix" value="/WEB-INF/jsp/"/>
         <property name="suffix" value=".jsp"/>
       </bean>
       <bean id="multipartResolver" class=
   "org.springframework.web.multipart.commons.CommonsMultipartResolver">
          <!-- 设置请求编码格式-->
          <property name="defaultEncoding" value="UTF-8" />
	</bean>
       <mvc:interceptors>
          <mvc:interceptor>
                 <mvc:mapping path="/**"/>
                 <bean class="com.imnu.interceptor.LoginInterceptor"/>
          </mvc:interceptor>
       </mvc:interceptors>
</beans>
