<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yidu.dao.RecordMapper" >
  <resultMap id="BaseResultMap" type="com.yidu.controller.vo.RecordVo" >
    <id column="record_id" property="recordId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="toy_id" property="toyId" jdbcType="VARCHAR" />
    <result column="overdue_id" property="overdueId" jdbcType="VARCHAR" />
    <result column="record_time" property="recordTime" jdbcType="DATE" />
    <result column="record_endTime" property="recordEndTime" jdbcType="DATE" />
    <result column="toy_name" property="toyName" jdbcType="VARCHAR" />
    <result column="toy_money" property="toyMoney" jdbcType="DECIMAL" />
    <result column="toy_deposit" property="toyDeposit" jdbcType="DECIMAL" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="record_state" property="recordState" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap type="com.yidu.controller.vo.CartogramVo" id="Cartogram">
    <result column="666" property="count" jdbcType="DECIMAL" />
    <result column="type_name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    record_id, user_id, toy_id, overdue_id, record_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select *
    from record
    where record_id = #{recordId,jdbcType=VARCHAR}
  </select>
  
  <select id = "findByUserId" resultMap="BaseResultMap" parameterType="java.lang.String">
  	SELECT r.*,t.toy_name,u.user_name FROM record r,toy t, USER u WHERE r.user_id=u.user_id AND r.toy_id=t.toy_id AND u.user_id = #{userId}
  </select>
  
  <!-- 查询租赁记录 -->
  <select id="selectLease" resultMap="BaseResultMap" parameterType="java.lang.String">
  	SELECT * FROM record r,toy t WHERE  r.toy_id=t.toy_id AND r.user_id=#{recordId,jdbcType=VARCHAR}
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap" parameterType="java.lang.String">
  	SELECT r.record_id,r.record_time,t.toy_name,t.toy_money,t.toy_deposit,u.user_name
		FROM toy t,USER u ,overdue o , record r 
		WHERE t.toy_id=r.toy_id 
		AND u.user_id=r.user_id 
		AND o.overdue_id=r.overdue_id 
  </select>
  
  <select id="pieChart" resultMap="Cartogram" parameterType="java.lang.String">
  	SELECT COUNT(*) as '666',tt.type_name FROM toy t,record r,toytype tt WHERE t.toy_id=r.toy_id AND t.type_id=tt.type_id  GROUP BY tt.type_name
  </select>
  
  <select id="selectCount" resultType="int" parameterType="java.lang.String">
  	select count(*) from record
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from record
    where record_id = #{recordId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yidu.domain.Record" >
    insert into record (record_id, user_id, toy_id, 
      overdue_id, record_time)
    values (#{recordId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{toyId,jdbcType=VARCHAR}, 
      #{overdueId,jdbcType=VARCHAR}, #{recordTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.yidu.domain.Record" >
    insert into record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recordId != null" >
        record_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="toyId != null" >
        toy_id,
      </if>
      <if test="overdueId != null" >
        overdue_id,
      </if>
      <if test="recordTime != null" >
        record_time,
      </if>
      <if test="recordEndTime != null" >
        record_endtime,
      </if>
      <if test="recordState != null" >
        record_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recordId != null" >
        #{recordId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="toyId != null" >
        #{toyId,jdbcType=VARCHAR},
      </if>
      <if test="overdueId != null" > 
        #{overdueId,jdbcType=VARCHAR},
      </if>
      <if test="recordTime != null" >
        #{recordTime,jdbcType=DATE},
      </if>
      <if test="recordEndTime != null" >
        #{recordEndTime,jdbcType=DATE},
      </if>
      <if test="recordState != null" >
        #{recordState,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yidu.domain.Record" >
    update record
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="toyId != null" >
        toy_id = #{toyId,jdbcType=VARCHAR},
      </if>
      <if test="overdueId != null" >
        overdue_id = #{overdueId,jdbcType=VARCHAR},
      </if>
      <if test="recordTime != null" >
        record_time = #{recordTime,jdbcType=DATE},
      </if>
      <if test="recordEndTime != null" >
        record_endtime = #{recordEndTime,jdbcType=DATE},
      </if>
      <if test="recordState != null" >
        record_state = #{recordState,jdbcType=VARCHAR},
      </if>
    </set>
    where record_id = #{recordId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yidu.domain.Record" >
    update record
    set user_id = #{userId,jdbcType=VARCHAR},
      toy_id = #{toyId,jdbcType=VARCHAR},
      overdue_id = #{overdueId,jdbcType=VARCHAR},
      record_time = #{recordTime,jdbcType=DATE},
      record_endtime = #{recordEndTime,jdbcType=DATE}
    where record_id = #{recordId,jdbcType=VARCHAR}
  </update>
</mapper>