@charset "UTF-8";
body{
		/* 设置页面的背景 */
	   background: url("../img/beijing.jpg");
}
input[type="text"], input[type="password"] , input[type="email"]{
	/* 设置输入框样式 */
    width: 90%;
    margin-bottom: 20px;
    background-color: transparent;
    text-align:center;
    font-size: 25px;
    color: #0000ff;
}
.container {
	/* 美化登录注册页面，把输入框和按钮包在一个框里 */
    width: 400px;
    margin: 0 auto;
    padding: 40px;
    background-color: rgba(0, 191, 240,0.1);
    box-shadow: 0 -5px 10px 1px rgba(16, 16, 16, 0.57);	
}
h1{
	/* 设置h1样式 */
	font-size: 45px;
	text-align:center;
    color: #0000ff;
}
h2{
	/* 设置h2样式 */
	font-size: 20px;
	text-align:center;
    color:fuchsia;
}
input[type="submit"] {
	/* 设置按钮样式 */
    width: 90%;
    padding: 10px 0;
    font-size: 20px;
    text-align:center;
    font-weight: 100;
    background-color: #80ffff;
    color: #0000ff;
  
}
input[type="submit"]:hover {
	/* 设置按钮鼠标放在按钮上的样式 */
    background-color: #ff80ff;
    text-align:center;
    border: 1px solid #FFF;
    color: #ffff00;

}

a{
	/* 设置超链接样式 */
    width: 300px;
    padding: 10px 0;
    font-size: 20px;
    text-align:center;
    font-weight: 100;
    background-color: #80ffff;
    color: #0000ff;
    text-decoration:none;
  
}
a:hover {
	/* 设置按钮鼠标放在超链接上的样式 */
    background-color: #ff80ff;
    border: 1px solid #FFF;
    text-align:center;
    color: #ffff00;
    text-decoration:none;

}